{% extends 'principal1.html' %}
{% load static %}

{% block title %}
Tous mes messages
{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"  id="login">
            <h1>Messages <a class="btn btn-success btn-sm" href="" role="button"><i class="bi bi-pencil-fill"></i></a>
</h1>
            {% if all_messages %}
            <ul>
                {% for message in all_messages %}
                {% if user.username == message.sender.username or user.username == message.receiver.username %}
                <li>
                    <div class="card text-success bg-white">
                        <div class="card-header text-white bg-success">
                            <b><i>Titre:</i></b> <a href="{% url 'mp:message_details' message.id %}" id="post">{{message.title}}</a>
                        </div>
                            <b><i>Composé par:</i></b> {{message.sender.first_name}} {{message.sender.last_name}}
                    </div>
                    <br>
                </li>
                <br>
                {% else %}
                Vous n'avez aucun message.
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            Vous n'avez aucun message.

            {% endif %}
        </div>
        <div class="col-2"></div>
    </div>
</div>




{% endif %}
<br><br><br>
{% endblock %}